<!DOCTYPE html>
<html>
  <head>
    <title>LearningHall</title>
    <meta name="google-signin-client_id" content="635001773138-m4b3dj9tvo0pvh9i4tgcq8grgu4pcer7.apps.googleusercontent.com">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('Screenshot from 2019-09-04 13-22-55.png') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript">
  window.img1Url = "<%= image_url('graduate-companies.png') %>";
  window.logoUrl = "<%= image_url('Screenshot from 2019-09-04 13-22-55.png') %>";
  window.img2Url = "<%= image_url('2') %>";
  window.img3Url = "<%= image_url('3') %>";
</script>


    <% if current_user %>
      <script>
        window.currentUser = {
        "id":<%= current_user.id %>,
        "username": "<%= current_user.username %>",
        "email": "<%= current_user.email %>",
        "preferred_name": "<%= current_user.preferred_name %>",
        "user_role": "<%= current_user.user_role %>",
        "pronunciation": "<%= current_user.pronunciation %>" 

        };
      </script>
      
    <% else %>
      
    <% end %>
    

  </head>

  <body>
    <%= yield %>
  </body>
</html>
